.footer {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1400px;
  margin: 18% auto 100px auto;
}
.topic_mojo {
  /* border: 1px solid black; */
  width: 300px;
  margin: 10px 0px 20px 100px;
}
.topic_mojo p {
  margin-top: 20px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #5a5a5a;
}
.lists {
  margin: 100px 0px 20px 0px;
  display: flex;
  align-items: center;
}
.list {
  /* border: 1px solid black; */
  width: 300px;
  padding: 10px 10px;
}
.list h4 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #3d3d3d;
  margin-bottom: 30px;
}
.list ul {
  list-style: none;
}
.list ul li {
  margin-top: 10px;
}
.list ul li a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #5a5a5a;
}
.list ul li a:hover{
  color: #0783c1dc;

}
.secondList {
  margin-top: -66px;
  display: flex;
  align-items: center;
}

.line {
  border: 1px solid #cccccc;
  width: 1300px;
  margin: -60px auto 10px auto;
}

.footer_text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #5a5a5a;
  margin: 20px auto 20px auto;
}
