.flex {
  /* border: 1px solid black; */
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  max-width: 100%;
  margin: 60px auto 0px auto;
  padding: 10px 20px;
}
.mainFlex {
  max-width: 100%;
}
@media screen and (min-width: 960px) {
  .mainFlex {
    /* border: 1px solid black; */
    padding: 10px 20px;
  }
  .flex .block {
    /* border: 1px solid black; */
    width: 550px;
  }
  .flex .block h1 {
    font-size: 34px;
  }
  .flex .block p {
    font-size: 17px;
  }
  .mainFlex .group {
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 890px) {
  .flex {
    display: flex;
    margin: 60px auto;
    justify-content: center;
    padding-top: 40px;
    /* border: 1px solid black; */
    max-width: 100%;
    /* width: 600px; */
  }
  .flex .block {
    text-align: center;
  }
  .flex .block h1 {
    font-size: 32px;
  }
  .flex .block p {
    width: 400px;
    /* border: 1px solid black; */
    margin: 20px auto;
  }
  .mainFlex .group {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .flex .block h1 {
    font-size: 27px;
  }
  .flex .block p {
    font-size: 17px;
  }
  .flex .shadow button {
    /* border: 1px solid black; */
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
  }
  .block .shadow {
    /* border: 1px solid black; */
    width: 100%;
  }
  .block .shadow button::after {
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
  }
}



.mainFlex .group {
  max-width: 400px;
  height: auto;
}
.block {
  margin-top: -60px;
  display: block;
  max-width: 530px;
  width: 550px;
  /* border: 1px solid black; */
  padding: 4px 0px;
}
.block h1 {
  /* font-weight: 800; */
  font-weight: 700;
  font-size: 42px;
  color: rgb(23, 23, 23);
}
.block p {
  margin: 20px 0px;
  font-size: 18px;
  color: rgba(90, 90, 90, 1);
}
.shadow button:hover {
  background: #282a3add;
  color: rgba(255, 255, 255, 0.909);
}
.block button {
  max-width: 250.07px;
  width: 250px;
  height: 56px;
  /* left: 110px;
  top: 389px; */
  background: #282a3a;
  border-radius: 8px;
  padding: 10px 16px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 80px;
  position: relative;
  transition-delay: 0.1s;
  transition: 0.2s;
}
.block .shadow button::after {
  background: linear-gradient(
    90deg,
    #44bcff -0.55%,
    #44b0ff 22.86%,
    #ff44ec 48.36%,
    #ff44ec 73.33%,
    #ff675e 99.34%
  );
  filter: blur(30px);
  z-index: -1;
  width: 280px;
  height: 50px;
  content: "";
  position: absolute;
  inset: 17.2em;
  /* margin-left: -100px; */
  top: 4px;
  left: -8px;
  transition-duration: 1s;
  transition: 1s;
}
/* background: linear-gradient(90deg,#44b0ff 22.86%,#44bcff -.55%,#ff44ec 73.33%,#ff44ec 48.36%,); */

.block .shadow button:hover::after {
  background: linear-gradient(
    90deg,
    #ff44ec 48.36%,
    #44b0ff 22.86%,
    #ff44ec 73.33%,
    #44bcff -0.55%,
    #ff675e 99.34%
  );
  filter: blur(30px);
  z-index: -1;
  width: 280px;
  background-position: 200px;
  height: 50px;
  content: "";
  position: absolute;
  inset: 17.2em;
  /* margin-left: -100px; */
  top: 4px;
  left: -8px;
}
.block .span {
  margin-top: 30px;
  display: flex;
  align-items: center;
  /* border: 2px solid brown; */
  width: 450px;
  justify-content: space-between;
}
.block .span span {
  width: 196px;
  height: 18px;
  left: 150px;
  top: 493px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #646464;
}
.block .spanImg {
  width: 194px;
  height: 36px;
  left: 355px;
  top: 485px;
}

.as_feature {
  justify-content: center;
  display: block;
  margin-top: 170px;
}
.as_feature .bg_bg {
  position: relative;

  /* right: 0; */
  /* top: 0; */
  max-width: 100%;
  /* border: 1px solid black; */

  width: 100%;
}
.bg_img::after {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #44bcff -0.55%,
    #44b0ff 22.86%,
    #ff44ec 48.36%,
    #ff44ec 73.33%,
    #ff675e 99.34%
  );
  filter: blur(30px);
  z-index: -1;
  width: 720px;
  height: 80px;
  content: "";
  position: absolute;
  inset: 17.2em;
  top: 20px;
  left: -4px;
  transition-duration: 1s;
  transition: 1s;
}
/* background: linear-gradient(90deg,#44b0ff 22.86%,#44bcff -.55%,#ff44ec 73.33%,#ff44ec 48.36%,); */

.bg_img:hover::after {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #44bcff -0.55%,
    #44b0ff 22.86%,
    #ff44ec 48.36%,
    #ff44ec 73.33%,
    #ff675e 99.34%
  );
  filter: blur(30px);
  z-index: -1;
  width: 720px;
  height: 80px;
  content: "";
  position: absolute;
  inset: 17.2em;
  top: 20px;
  left: -4px;
}
.bg_white {
  position: absolute;
  display: flex;
  justify-content: center;
  /* padding: 10px; */
  border-radius: 10px;
  margin: -165px 0px 0px 0px;
  text-align: center;
  width: 100%;
  /* height: 90px; */
  /* border: 1px solid black; */
}
.bg_img {
  z-index: 1;
}
.bg_white .bg_img {
  /* margin-top: -150px;
  margin-left: 370px; */
  /* width: auto; */
  position: absolute;
  display: block;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* border: 1px solid black; */
  border-radius: 10px;
}
.bg_white h2 {
  position: absolute;
  margin: -60px auto 0px auto;
  justify-content: center;
  text-align: center;
  /* width: 1000px; */
  font-style: bold;
  font-size: 32px;
  color: #242424;
  /* border: 1px solid black; */
}

@media screen and (max-width: 750px) {
  .as_feature .bg_bg {
    /* max-width: 400px; */
    margin-top: -100px;
    height: 200px;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    /* border: 1px solid black; */
  }
  .as_feature .bg_img_bg {
    width: 400px;
    height: 80px;
    max-width: 100%;
  }
  .bg_img::after{
    width: 400px;
    height: 60px;
  }
  .bg_white{
    margin-top: -110px;
  }
}
