@media screen and (min-width: 960px) {
  .navigation{
    border: 1px solid black;
    max-width: 100%;
    justify-content: center;
  }
  .nav{
    max-width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .navigation{
    border: 1px solid black;
    max-width: 100%;
    width: 3000px;
    justify-content: center;
  }
  .nav{
    border: 1px solid black;
    max-width: 100%;
    /* width: 4000px; */
  }
  .nav .button button {
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  .navigation{
    /* border: 1px solid black; */
    max-width: 100%;
    /* width: 3000px; */
    justify-content: center;
  }
  .nav .button button {
    font-size: 14px;
    padding: 10px 12px;
  }
  .nav ul li a{
    font-size: 13px;
  }
  .nav .topic_mojo_img {
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .nav button{
  padding: 10px 14px;
  /* display: none; */
  }
}
.nav {
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  width: 1250px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px;
}
.navigation{
  padding: 10px 20px;
  /* border: 1px solid black; */
  max-width: 100%;
  justify-content: center;
}
.nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  max-width: auto;
  margin: auto;
}
.nav ul li {
  text-decoration: none;
  margin: 0 12px;
  cursor: pointer;
}
.nav ul li a {
  color: rgba(130, 130, 130, 1);
  text-decoration: none;
  transition: 0.1s;
}
.nav ul li a:hover {
  color: rgb(48, 48, 48);
  text-decoration: none;
}
/* .nav .topic_mojo_img {
  cursor: pointer;
  width: 200px;
  height: 45px;
} */
.nav button {
  background-color: #282a3a;
  padding: 14px 24px;
  /* margin-right: 20px; */
  border-radius: 6px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  transition-delay: 0.1s;
}
.nav button:hover {
  background-color: #282a3acb;
  color: rgb(255, 255, 255);
}
/* .nav .topic_mojo_img {
  width: auto;
} */
.hamburger {
  display: none;
}


.nav .topic_mojo_img {
 max-width: 200px;
  height: auto;
}


