.section{
    /* margin-top: 50px; */
    /* border: 1px solid black; */
    /* width: 950px; */
    /* justify-content: center; */
    margin: 50px auto;
}
.items{
  margin-top: 200px;
}

.main {
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
  font-size: 42px;
  line-height: 53px;
  text-align: center;
  color: #242424;
  margin-top: 100px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  margin: 20px auto 10px auto;
  /* border: 1px solid black; */
  width: 100%;
  max-width: 100%;
  /* width: 1000px; */
}

.list_one {
  /* border: 1px solid black; */
  width: 285px;
  /* padding: 10px 10px; */
  margin: 20px 20px 20px 20px;
}

.color {
  background-color: #242424;
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  text-align: center; 
  /* margin: auto; */
}
.color_img {
  text-align: center;
  margin: 15px auto;
}
.txt h4 {
  margin: 10px 0px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #242424;
}
.txt p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
}

@media screen and (max-width: 550px) {
  .main{
    margin-top: 100%;
  }
}
@media screen and (max-width: 500px) {
  .main{
    margin-top: 150%;
  }
}
@media screen and (max-width: 470px) {
  .main{
    margin-top: 230%;
  }
}
@media screen and (max-width: 450px) {
  .main{
    margin-top: 250%;
  }
}
@media screen and (max-width: 430px) {
  .main{
    margin-top: 270%;
  }
}
@media screen and (max-width: 400px) {
  .main{
    margin-top: 230%;
  }
}
@media screen and (max-width: 390px) {
  .main{
    margin-top: 420%;
  }
}
@media screen and (max-width: 380px) {
  .main{
    margin-top: 420%;
  }
}
@media screen and (max-width: 370px) {
  .main{
    margin-top: 420%;
  }
}
@media screen and (max-width: 360px) {
  .main{
    margin-top: 450%;
  }
}
@media screen and (max-width: 350px) {
  .main{
    margin-top: 390%;
  }
}
@media screen and (max-width: 340px) {
  .main{
    margin-top: 400%;
  }
}
@media screen and (max-width: 800px) {
  .color{
    margin: auto;
    
  }
  .flex{
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .color{
    margin: auto;
  }
  .section {
    /* display: block; */
    /* flex-direction: column !important; */
   
    justify-content: center;
    align-items: center;
    margin: 5% auto;
  }
  .items{
    margin-top: 440%;
    margin-bottom: 500%;
    position: absolute;
    z-index: 1;
    /* border: 1px solid black; */
  }
  /* .main {
    margin-top: 440%;
  } */
  .flex{
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
    margin: 39px auto;
  }
  .cards{
    margin: auto;
    justify-content: center;
    /* border: 1px solid black; */

  }
}