.flex_logo {
  /* border: 1px solid black; */
  display: flex;
  width: 360px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.flex_logo .crossIcon {
  font-size: 22px;
}
.flex_logo .resTopic_mojo {
  width: 300px;
  height: auto;
}
.resNav {
  background-color: antiquewhite;
  padding: 50px 25px;
}
.resBlock {
  /* border: 1px solid black; */
  margin-top: 50px;
}
.padd {
  border: 1px solid black;
  padding: 10px 10px;
  width: 360px;
  max-width: 100%;
  margin-top: 50px;
}
.head h4 {
  max-width: 100%;
  /* width: 360px; */
  /* border: 1px solid black; */
  /* margin-top: 40px; */
  /* margin-left: 30px; */
  font-weight: 500;
  font-size: 14px;
}
.arrowLine {
  display: flex;
  align-items: center;
}
.linkArrow {
  /* margin-top: 1px; */
  padding-top: 4px;
  margin-left: 2px;
  color: rgba(130, 130, 130, 1);
  font-size: 24px;
}
.linkArrow:hover {
  color: #121219;
}

/* background-color: #282a3a73; */
/* .button .btn_one:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(212 229 255 / var(--tw-bg-opacity));
    color: #282a3a;
  } */
.nav {
  display: block;
  width: 400px;
  /* border: 1px solid black; */
  /* width: 1250px; */
  max-width: 100%;
  align-items: center;
  padding: 20px 20px;
  background-color: antiquewhite;
}
.navigation {
    position: relative;
    float: right;
  padding: 0px 60px 0px 0px;
  /* border: 1px solid black; */
  width: 100%;
  max-width: 100%;
}
.nav ul {
  /* width: 360px; */
  display: block;
  padding: 10px 0px;
  list-style: none;
  text-decoration: none;
  max-width: 100%;
  /* margin-left: 30px; */
  /* margin: auto; */
  /* border: 1px solid black; */
}
.nav ul li {
  text-decoration: none;
  cursor: pointer;
  margin: 30px 0px;
}
.nav ul li a {
  color: rgba(130, 130, 130, 1);
  text-decoration: none;
  transition: 0.1s;
}
.nav ul li a:hover {
  color: #121219;
}

/* .nav .topic_mojo_img {
    cursor: pointer;
    width: 200px;
    height: 45px;
  } */
/*   
  .nav button:hover {
    background-color: #282a3acb;
    color: rgb(255, 255, 255);
  } */
/* .nav .topic_mojo_img {
    width: auto;
  } */

.nav .topic_mojo_img {
  max-width: 200px;
  height: auto;
}
.nav ul li .cover {
  display: none;
}
.nav ul .arrowLine:hover {
  --tw-text-opacity: 1;
  color: #282a3a4a;
}

.nav ul .arrowLine:hover .cover {
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  position: absolute;
  width: 200px;
  border-radius: 10px;
}
.nav ul .arrowLine:hover .cover .none li a {
  font-size: 13px;
  /* background-color: red; */
  color: #282a3a;
}
.nav ul .arrowLine:hover .none li {
  /* background-color: red; */
  padding: 6px 20px;
  width: 240px;
  margin: 6px auto;
}
.nav ul .arrowLine:hover .none li:hover {
  --tw-bg-opacity: 0.4;
  background-color: rgb(212 229 255 / var(--tw-bg-opacity));
}
.nav ul .arrowLine:hover .cover {
  /* border: 3px solid black; */
  background: transparent;
  padding: 20px;
  width: 260px;
  margin-top: 180px;
  margin-left: 120px;
}
.nav ul .arrowLine:hover .cover .none {
  padding: 2px 0px;
  /* border: 0.1px solid black; */
  border-radius: 10px;
  width: 240px;
  margin: auto;
  display: block;
}
.btn_btn {
  display: block;
}

.btn_one{
    margin: 20px 0px;
}
.btn_one button {
  padding: 16px 20px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: none;
  background: none;
  --tw-bg-opacity: 1;
    background-color: rgb(238 239 255/var(--tw-bg-opacity));
}
.btn_two button {
  padding: 16px 20px;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  --tw-bg-opacity: 1;
    background-color: rgb(40 42 58/var(--tw-bg-opacity));
    color: white;
  border: none;
  /* font-weight: 700; */
}
